@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body{
    background-color: #282828;
}

.cusFont {
    font-family: 'Varela Round', sans-serif;
}

.sidebar{
    /*position: fixed;*/
    border-radius: 15px;
    border: solid white 3px;
    /*height: 90%;*/
    padding: 20px 0 0 0;
    /*overflow-y: auto;*/
}

.sidebar .list-group-item {
    background-color: transparent;
    color: white;
}

.sidebar .list-group-item.active{
    background-color: #337ab7;
}

.navTab a{
    color: white;
}

.navTab a:hover{
    color: black;
}

#apiList, #apiMap, #apiGraph{
    height:700px;
    border: solid white 1px;
    overflow-y: auto;
}

#map{
    width:100%;
    height: 90%;
}

.clusterContainer{
    display: flex;
    flex-wrap: wrap;
    padding:20px;
    justify-content:center;
    align-content:center;
    height: 100%;
}

.clusterItems{
    border: dashed white 4px;
    border-radius: 10px;
    margin:10px;
    padding: 4px;
}
.clusterItems div{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
}

#chart{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lightgrey;
    border-radius: 20px;
}
