<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cloud Computing Assignment 2</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
         <!--<link rel="stylesheet" href="../static/style.css">-->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container cusFont">
            <div class="row">
                <h2 style="color:white">Cloud Computing Assignment 2</h2>
            </div>
            <div class="row">
                <div class="sidebar col-sm-3">
                    <h3 class="text-center" style="color:white">Scenarios</h3>
                    <div class="list-group senariosList">
                      <a class="list-group-item" id="get_cluster_result">Cluster Result for Each city</a>
                      <a class="list-group-item" id="get_general_wordcloud_result">General Wordcloud Result for Each city</a>
                      <a class="list-group-item" id="get_hashtag_wordcloud_result">Hashtag Wordcloud Result for Each city</a>
                      <a class="list-group-item" id="get_lang_result">Language Result for Each city</a>
                      <a class="list-group-item" id="get_sports_lang">Sports Language Result in VIC</a>
                      <a class="list-group-item" id="get_sports_sentiment">Sports Sentiment Result in VIC</a>
                      <a class="list-group-item" id="get_sentiment_by_city">Sentiment Result for Each city</a>
                      <a class="list-group-item" id="get_sentiment_of_unemployment">Sentiment of People Received Long-term Unemployment Benefit for Each city</a>
                      <a class="list-group-item" id="get_sentiment_by_time">Sentiment Result of Different Time Period for Each city</a>
                      <a class="list-group-item" id="get_sentiment_by_weekday">Sentiment Result of all weeks for Each city</a>
                      <a class="list-group-item" id="get_sentiment_by_season">Sentiment Result of Each Season for Each city</a>
                      <a class="list-group-item" id="get_sentiment_by_event">Sentiment Result of Different Event for Each city</a>
                    </div>
                </div>
                <!-- <div class="col-sm-8 col-sm-offset-4"> -->
                <div class="col-sm-8 col-sm-offset-1">
                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="navTab active" value="apiList"><a>List</a></li>
                        <li role="presentation" class="navTab" value="apiMap"><a>Map</a></li>
                        <li role="presentation" class="navTab" value="apiGraph"><a>Graph</a></li>
                    </ul>
                    <div id="apiList"  style="padding:20px">
                    </div>
                    <div id="apiMap" style="padding:20px;display:none">
                    </div>
                    <div id="apiGraph" style="padding:20px;display:none">
                    </div>
                </div>
            </div>
        </div>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js" charset="utf-8"></script>
        <script>L_PREFER_CANVAS = true;</script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <script type=text/javascript src="{{url_for('static', filename='script.js') }}"></script>
         <!--<script src="../static/script.js" charset="utf-8"></script>-->
    </body>
</html>
